* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.math {
    border: 1px solid black;
    width: 500px;
    height: 50vh;
    margin: 20px auto;
    background: url("./images/photo.avif");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: 0 0 10px solid black;

}

.btn {
    margin-top: 100px;
    padding: 5px 10px;
    width: 100px;
    font-weight: bold;
    margin: 10px;
    background-color: black;
    color: white;
}


.math span {
    border-bottom: 1px solid black;
}